.filter-bar {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0;
}

.filter-controls {
  display: flex;
  gap: 20px;
  flex: 1;
  flex-wrap: wrap;
}
.filter-toggle {
  display: none;
}

.filter-bar select {
  flex: 1;
  min-width: 180px;
  height: 50px;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  background: white;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.filter-bar select:hover,
.filter-bar select:focus {
  border-color: #2563eb;
}

.filter-bar button {
  height: 50px;
  padding: 0 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.filter-bar button:hover {
  background: #1d4ed8;
}

@media (max-width: 768px) {
  .filter-bar {
    display: block;
  }

  .filter-toggle {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background: #2563eb;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  .filter-controls {
    display: none;
  }
  .filter-controls.open {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .filter-bar select,
  .filter-bar button {
    width: 100%;
  }
}

.filter-bar input {
  flex: 1;
  min-width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px;
  outline: none;
}

.filter-bar input:focus {
  border-color: #2563eb;
}
